.container{
    background-color: rgb(0, 255, 255);
    width: auto;
    height: 700px;
}
.all{
    background-color: rgb(0, 0, 0);
    width: auto;
    height: 700px;
}
.header{
    background-color: rgb(0, 0, 0);
    width: auto;
    height: 100px;
    font-family: lemon milk;
    color: white;
    font-size: 30px;
    text-align: center;
}
.body{
    background-color: rgb(0, 255, 21);
    width: auto;
    height: 400px;
}
.ney1{
    background-image: url('ney.jpg');
    width: auto;
    height: 400px;
}
.wakala{
    background-color: rgb(119, 0, 255);
    width: auto;
    height: 200px;
}
.ney{
    background-image: url('wakala.jpg');
    width: auto;
    height: 200px;
}
.footer{
    background-color: rgb(255, 0, 43);
    width: auto;
    height: 200px;
    display: grid; grid-template-columns: 50% 50%;
    text-align: center;
}
.footer h1{
    color: white;
    font-family: lemon milk;
}
.footer p{
    color: white;
}
.about{
    background-color: rgb(0, 0, 0);
}
.address{
    background-color: rgb(0, 0, 0);
}